/* Fonts */
$primaryFont: 'Poppins', sans-serif;

/* Spacing  */
$gutter: 15px;

/* Color */
$primaryColor: #2c428d;
$whiteColor: #ffffff;
$blackColor: #000000;
$greyColor: #d9d9d9;
$darkGreyColor: #c0c0c0;
$learnMore: #e00024;
$gradientPrimaryColor: #726afe;
$gradientSecondaryColor: #2d3bfe;