.technology-section {
    padding: 75px 0;
    @include media(lg,max){
        .section-heading {
            margin-bottom:0;
        }
    }
    @include media(md,max){
        padding: 50px 0;
    }
}
.tech-card {
    padding: 45px 40px 60px;
    background: #f0f1f6;
    text-align: center;
    cursor: pointer;
    border: 5px solid transparent;
    @include transition(all 0.3s ease-in-out);
    @include media(xl,max){
        img {
            max-width:80px;
        }
        padding: 35px 25px;
    }
    @include media(lg,max){
        margin-top:30px;
        padding: 25px 20px;
    }
    @include media(md,max){
        min-height: 203px;
    }
    @include media(xsm,max){
        margin-top: 20px;
    }
    @include media(xsm,max){
        min-height: inherit;
    }

    + .tech-card {
        margin-top: 30px;
        @include media(xsm,max){
            margin-top: 20px;
        }
    }
    h3 {
        color: $primaryColor;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 35px;
        @include media(xl,max){
            margin-top: 15px;
            font-size: 15px;
        }
        @include media(lg,max){
            br {
                display:none;
            }
        }
    }
    &:hover {
        border-color: $whiteColor;
        @include box-shadow(0 5px 10px rgba(0,0,0,0.2));
    }
}
.tech-list {
    .col {
        @include media(xl,max){
            flex-basis: 25%;
            max-width: 25%;
            width:25%;
        }

        @include media(lg,max){
            flex-basis: 50%;
            max-width: 50%;
            width:50%;
        }
        @include media(xsm,max){
            flex-basis: 100%;
            max-width: 100%;
            width:100%;
        }
        &:nth-child(-2n+3) {
                margin-top: 80px;
                @include media(xl,max){
                    margin-top: 40px;   
                }
                @include media(lg,max){
                    margin-top: 0;
                }
            }
    }
    
}