.testimonial-section {
    @include media(lg,max){
        .col-auto {
            width: 100%;
            max-width: 100%;
            flex-basis: 100%;
        }
    }
    .more-info {
        max-width: 400px;
        @include media(xl,max){
            max-width: 360px;
            padding-left:40px;
        }
        @include media(md,max){
            max-width:100%;
            padding-left:15px;
            padding-right:15px;
            text-align:center;
        }
    }
    h2 {
        text-transform: uppercase;
        font-size: 50px;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 15px;
        @include media(xl,max){
            font-size: 34px;
        }
        @include media(lg,max){
            font-size:30px;
        }
        @include media(md,max){
            font-size: 24px;
        }
    }
}
.testimonial-slider {
    max-width: 720px;
    background: #f0f1f6;
    padding: 55px 0 65px 80px;
    @include rounded (150px 0 0 150px);
    @include media(xl,max){
        max-width: 600px;
        padding: 55px 0 55px 60px;
    }
    @include media(lg,max){
        max-width:100%;
        margin-left:30px;
        margin-top:50px;
    }
    @include media(md,max){
        margin-top: 30px;
    }
    @include media(sm,max){
        margin-left:0;
        @include rounded (0);
        padding-left:0;
    }
}
.testimonial-card {
    position: relative;
    padding-right: 160px;
    padding-left: 30px;
    padding-top: 10px;
    @include media(xl,max){
        padding-right:130px;
        padding-bottom: 10px;
    }
    @include media(sm,max){
        padding-right:15px;
    }
    p {
        line-height: 2;
        position: relative;
        @include media(xl,max){
            font-size:14px;
        }
        @include media(sm,max){
            text-align: center;
            margin-bottom: 10px;
        }
        span {
            font-size: 60px;
            position: absolute;
            top: -15px;
            left: -27px;
            line-height: 1;
            @include media(sm,max){
                left:inherit;
                right: inherit;
                margin-left: -30px;
            }
        }
    }
}
.client-info {
    position: absolute;
    right: 60px;
    top: 15px;
    text-align: center;
    @include media(xl,max){
        right: 40px;
    }
    @include media(sm,max){
        position:static;
    }
    span {
        width: 60px;
        height: 60px;
        border: 5px solid $whiteColor;
        border-radius: 50px;
        display: inline-block;
        overflow: hidden;
        @include box-shadow(0 4px 10px rgba(0,0,0,0.5));
    }
    h3 {
        font-weight: 600;
    }
}

.rating {
    img {
        max-width: 80px;
    }
}