@import'../utilities/variables';
@import'../utilities/mixins';
.accordian-wrap {
    @include box-shadow(0 0 15px rgba(0,0,0,0.05));
    .accordian-content {
        display: none;
        padding: 20px 30px;
        @include media(xl,max){
            padding: 15px 20px;
        }
        p {
            font-size: 16px;
            font-weight: 300;
            line-height: 2;
            @include media(xl,max){
                font-size:15px;
            }
        }
    }
    .accordian-title {
        padding: 16px 50px 16px 30px;
        border: 1px solid $greyColor;
        color: $blackColor;
        @include rounded(4px);
        font-weight: 300;
        position: relative;
        font-size: 16px;
        cursor: pointer;
        @include transition(all .35s ease-in-out);
        &:hover {
            background: $primaryColor;
            color: $whiteColor;
            &:after {
                border-color: $whiteColor;
            }
        }
        &:after {
            content: "";
            position: absolute;
            right: 30px;
            top: 20px;
            width: 7px;
            height: 7px;
            border-width: 0 2px 2px 0;
            border-style: solid;
            border-color: #2c428d;
            @include transform(rotate(45deg));
            @include transition(all .35s ease-in-out);
        }
    }
    + .accordian-wrap {
        margin-top: 25px;
        @include media(sm,max){
            margin-top: 15px;    
        }
    }
    &.active {
        .accordian-title {
            background: $primaryColor;
            color: $whiteColor;
            @include rounded(4px 4px 0 0);
             &:after {
                border-color: $whiteColor;
                @include transform(rotateZ(-135deg));
                margin-top: 5px;
            }
        }
    }
}